:root {
  --bg-color-1: #000000;
  --bg-color-2: #202020;
  --bg-color-3: #505050;
  --accent-color-1: #ffffff;
  --accent-color-2: #b60202;
  --accent-color-3: #7f55ff;
  --accent-color-4: #07e8f6;
}
