/* Modo de leitura de página única */
[read-mode="single-page"] {
  body {
    overflow-y: auto;
  }

  #div-gallery {
    flex-direction: column;
  }

  #div-gallery img {
    width: 100% !important;
    object-position: center !important;
  }
}

[toolbar-mode="minimized"] {
  #div-toolbar > #div-collapsible-toolbar {
    display: none;
  }
}

/*
[read-mode="double-page"] {
  #svg-single-page {
    display: inline;
  }

  #svg-double-page {
    display: none;
  }
}
*/
