/* ----- Menu ----- */
#header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#div-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#div-toolbar,
#div-collapsible-toolbar > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#div-collapsible-toolbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  /*
  overflow: auto;
  scrollbar-width: none;
  */
  flex-wrap: wrap;
}

#button-read-mode > svg:first-child {
  display: none;
}

#button-read-mode > svg:last-child {
  display: flex;
}

/* ----- Leitor ----- */
#main-reader {
  display: flex;
  flex-direction: row;
}

/* --- Botões de Navegação (Troca de Página) --- */
#button-previous,
#button-next {
  position: fixed;
  height: 3rem;
  width: 3rem;
  border-radius: 50vh;
  top: 50%;
  transform: translate(0%, -50%);
}

#button-previous {
  left: 1rem;
}

#button-next {
  right: 1rem;
}

#button-previous:hover,
#button-next:hover {
  background-color: var(--bg-color-3);
}

/* --- Galeria de Imagens --- */
#div-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#div-gallery img {
  height: 100dvh;
  object-fit: contain;
}

/* - Página Única - */
#div-gallery img:not(.double-page) {
  width: 50%;
}

/* Página Única da Direita */
#div-gallery .right-single-page {
  object-position: left;
}

/* Página Única da Esquerda */
#div-gallery .left-single-page {
  object-position: right;
}

/* Página Única da Esquerda seguida de Página Dupla */
#div-gallery .left-single-page:has(+ .double-page),
/* Última Página é uma Página Única da Esquerda */
#div-gallery img:last-child.left-single-page {
  width: 100%;
  object-position: center;
}

/* - Página Dupla - */
.double-page {
  width: 100%;
}
