/* ----- Estilização por Classes ----- */
.hidden-element {
  display: none;
}

.inactive-button {
  background-color: var(--bg-color-2);
}

/* ----- Menu ----- */
#header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#div-toolbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#div-toolbar,
#div-collapsible-toolbar > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#div-collapsible-toolbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button-read-mode > svg:first-child {
  display: none;
}

#button-read-mode > svg:last-child {
  display: flex;
}

/* ----- Leitor ----- */
#main-reader {
  display: flex;
  flex-direction: row;
  /* padding-top: 3.5rem; */
}

/* --- Botões de Navegação (Troca de Página) --- */
#button-previous,
#button-next {
  position: fixed;
  height: 3rem;
  width: 3rem;
  border-radius: 50dvh;
  top: 50%;
  transform: translate(0%, -50%);
}

#button-previous {
  left: 1rem;
}

#button-next {
  right: 1rem;
}

#button-previous:hover,
#button-next:hover {
  background-color: var(--bg-color-3);
}

/* --- Galeria de Imagens --- */
#div-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#div-gallery img {
  height: 100dvh;
  object-fit: contain;
}

/* - Página Única - */
#div-gallery img:not(.double-page) {
  width: 50%;
}

/* Página Única da Direita */
#div-gallery .right-single-page {
  object-position: left;
}

/* Página Única da Esquerda */
#div-gallery .left-single-page {
  object-position: right;
}

/* Página Única da Esquerda seguida de Página Dupla */
#div-gallery .left-single-page:has(+ .double-page),
/* Última Página é uma Página Única da Esquerda */
#div-gallery img:last-child.left-single-page {
  width: 100%;
  object-position: center;
}

/* - Página Dupla - */
.double-page {
  width: 100%;
}

/* --- Modal --- */
.modal button:hover,
.modal button:focus {
  filter: brightness(1.2);
}

.modal {
  width: fit-content;
  background: var(--bg-color-2);
  border: var(--accent-color-1) 2px solid;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin: auto;
}

.modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 3rem; /* Espaço para o botão de fechar */
  color: var(--accent-color-1);
}

.modal a {
  color: var(--accent-color-2);
}

.modal form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.modal form > * {
  color: var(--accent-color-1);
  padding: 0.5rem;
}

.modal form > label {
  font-size: 1.2rem;
  padding-right: 0;
}

.modal input {
  background-color: transparent;
  border: var(--accent-color-2) 2px solid;
  border-radius: 0.5rem;
}

.modal button {
  background-color: var(--accent-color-2);
  cursor: pointer;
}

.close-modal {
  border: none;
  border-radius: 50dvh;
  font-weight: 500;
  font-size: 1rem;
  background: var(--accent-color-2);
  color: var(--accent-color-1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  aspect-ratio: 1/1;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
